/* Fonts */
@font-face {
  font-family: "Sahel";
  src: url("../fonts/Sahel.woff") format("woff"); }

/* Varibale */
/* basic style */
* {
  font-family: "Sahel", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear; }

html {
  font-size: 85%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth; }
  html::-webkit-scrollbar {
    width: 0.8rem; }
  html::-webkit-scrollbar-track {
    background: #fff; }
  html::-webkit-scrollbar-thumb {
    background: #244d4d;
    border-radius: 5rem; }

.header {
  padding: 2rem 9%; }
